.ab {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .login {
    transition: background-color 0.3s ease;
  }
  
  .login:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
  }
  