.footer-container {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.footer-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.footer-header::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature {
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.feature-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.feature-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feature-description {
  color: grey;
}

@media (max-width: 1024px) {
  .footer-container{
    width:700px;
  }
  .feature {
    flex: 1 1 calc(50% - 40px);
  }

  .footer-header {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .footer-container{
    width:700px;
  }
  .feature {
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
    padding: 15px;
  }

  .footer-header {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .footer-container{
    width:400px;
  }
  .feature {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .footer-header {
    font-size: 18px;
  }
}
